.container {
  display: flex;
  flex-direction: column;
  width: 560px;
  background-color: #3e529833;
  padding: 40px 48px;
  gap: 24px;
  border-radius: 15px;
}
.headerContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}
.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #dddcd7;
}
.description {
  font-size: 16px;
  font-weight: 400;
  color: #aeacb2;
  text-align: center;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.inputContainer {
  z-index: 10;
}
.industriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #291e5e;
  border-radius: 15px;
  height: 248px;
  max-height: 248px;
  padding: 32px 32px 20px 32px;
}
.selectContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  gap: 12px;
  width: 100%;
  background: linear-gradient(to bottom, #342e5e, #9191912b, #2a2937);
  transform: translateY(-4px);
  z-index: 0;
  border-radius: 10px;
  max-height: 200px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: red;
}
.selectItem {
  font-size: 15px;
  font-weight: 400;
  color: #d0cfd1;
  cursor: pointer;
}
.selectedInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
}
.selectedListContainer {
  display: flex;
  gap: 12px;
}
.selectedCountText {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #dddcd7;
}
.selectedItemContainer {
  padding: 6px 16px;
  border: 0.5px solid #d0cfd1;
  border-radius: 4px;
  background: linear-gradient(to left, #a24aa6, #161032cf);
  cursor: pointer;
}
.selectedItemText {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.industriesText {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #676768;
  padding-left: 16px;
}
.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.dotsItem {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #848484;
}
.selectedDotsItem {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #9e3d97;
}
.buttonContainer {
  padding: 0 64px;
}
.continueButton {
  width: 100%;
  padding: 13.5px 0;
  background-color: #52409A;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-width: 0;
  cursor: pointer;
}

