.container {
  width: 100%;
}
.formItemContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.errorMessageText {
  color: red;
  height: 16px;
  font-size: 12px;
}
.selectButton {
  width: 100%;
  padding: 13.5px 0;
  background-color: white;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  border-width: 0;
  cursor: pointer;
}
